version: "3.0"
services:
  backend:
   build: .
   container_name: backend-flask
   ports:
     - "5001:5000"
  
  frontend:
    image: nginx:alpine
    container_name: frontend-flask
    ports:
      - "5002:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - backend

  


